<nav class="bottom-nav">
  <%= link_to "ðŸ <br>ãƒ›ãƒ¼ãƒ ".html_safe, root_path, class: "nav-item #{ 'active' if current_page?(root_path) }" %>
  <%= link_to "ðŸ“…<br>çŒ®ç«‹".html_safe, meals_path, class: "nav-item #{ 'active' if current_page?(meals_path) }" %>
  <%= link_to "ðŸ”<br>çµžã‚Šè¾¼ã¿".html_safe, filter_meals_path, class: "nav-item #{ 'active' if current_page?(filter_meals_path) }" %>
  <%= link_to "ðŸ“<br>ãƒ¡ãƒ¢".html_safe, memos_path, class: "nav-item #{ 'active' if current_page?(memos_path) }" %>
</nav>