<nav class="bottom-nav">
  <%= link_to "ðŸ <br>ãƒ›ãƒ¼ãƒ ".html_safe, root_path, class: "nav-item #{ 'active' if current_page?(root_path) }" %>
  <%= link_to "ðŸ“…<br>çŒ®ç«‹".html_safe, meals_path, class: "nav-item #{ 'active' if current_page?(meals_path) }" %>
  <%= link_to "ðŸ’¬<br>ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸".html_safe, "#", class: "nav-item" %>
  <%= link_to "ðŸ›<br>è²·ã„ç‰©".html_safe, "#", class: "nav-item" %>
</nav>