<nav class="bottom-nav">
  <%= link_to "ðŸ <br>ãƒ›ãƒ¼ãƒ ".html_safe, homes_index_path, class: "nav-item" %>
  <%= link_to "ðŸ“…<br>çŒ®ç«‹".html_safe, meals_index_path, class: "nav-item" %>
  <%= link_to "ðŸ’¬<br>ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸".html_safe, "#", class: "nav-item" %>
  <%= link_to "ðŸ›<br>è²·ã„ç‰©".html_safe, "#", class: "nav-item" %>
</nav>