
/* ===================
   メインコンテナ
=================== */
.home-container {
  max-width: 500px;
  margin: auto;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFF5F1;
  border-radius: 10px;
}

/* ===================
   カレンダー専用
=================== */
.calendar-card {
  width: 90%;
  color: black;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #ffd2e0; /* ←ここ追加（淡いピンク） */
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.calendar-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  padding: 12px 5px;
  font-size: 16px;         /* 日付を大きく */
  min-height: 50px;        /* 高さを確保 */
  position: relative;
}

.calendar-table th {
  color: #999;
  font-size: 12px;
}

.calendar-table td {
  padding: 6px;
  font-size: 14px;
  position: relative;
}

.calendar-table .today {
  background: #ff6ea7;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

/* ===================
   投稿ボタン
=================== */
.post-button {
  width: 90%;
  background: #ff6ea7;
  color: white;
  font-size: 16px;
  padding: 16px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(255,110,167,0.3);
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

/* ===================
   メッセージ
=================== */
.message-card {
  width: 90%;
  margin-bottom: 30px;
  max-height: 150px;   /* はみ出たらスクロール */
  overflow-y: auto;
  border: 2px solid #ffd2e0; /* ←ここ追加（淡いピンク） */
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.message-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: black;
}

.message-link {
  font-size: 12px;
  color: #ff6ea7;
  cursor: pointer;
}

.message-comment {
  color: black;
}

/* ===================
   PC表示用デザイン調整
=================== */
@media screen and (min-width: 768px) {
  .home-container {
    max-width: 1400px;
    padding: 30px 15px 100px;
  }

  .calendar-card,
  .post-button,
  .message-card {
    width: 90%;
  }

  .bottom-nav {
    width: 50%;         /* 450px → 60% に変更（例） */
    max-width: 500px;   /* 岩谷幅を制限して崩れ防止 */
    left: 50%;
    transform: translateX(-50%);
  }

  .home-header {
    max-width: 1400px;
  }
}