.meals-index-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 15px;
}

.meals-index-title {
  font-size: 22px;
  font-weight: bold;
  color: #ff6ea7;
  margin-bottom: 15px;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-shadow: 2px 2px 0 #ffd4e8;
}

.meals-month-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
  
.month-btn {
  color: #ff6ea7;
  text-decoration: none;
  font-size: 14px;
}

.current-month {
  font-weight: bold;
  color: #444;
}

.meal-card {
  display: flex;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgb(255, 0, 242);
  margin-bottom: 15px;
  overflow: hidden;
}

.meal-card-image {
  width: 38%;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffe5c4;
}

.meal-thumbnail {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  aspect-ratio: 1 / 1;
}

.meal-no-image {
  font-size: 40px;
  color: #b85c38;
}

.meal-card-content {
  width: 65%;
  padding: 10px;
}

.meal-date {
  color: black;
}

.meal-title {
  font-size: 22px;
  font-weight: bold;
  margin: 5px 0;
  color: black;
}

.meal-user {
  font-size: 12px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 4px;
}

.meal-description {
  font-size: 13px;
  color: #666;
  margin-bottom: 5px;
}

.meal-detail-link {
  font-size: 13px;
  color: #ff6ea7;
  text-decoration: none;
}