.meal-form-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #FF6EA7;
  margin-bottom: 20px;
}

.edit-image-preview {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.edit-img {
  width: 110px;
  height: 110px;
  border-radius: 8px;
  object-fit: cover;
}