<div class="memo-container">
  <h2>📝 メモ</h2>

  <div class="memo-buttons">
    <%= link_to "🛒 買い物", "#", class: "memo-btn" %>
    <%= link_to "💡 作りたい料理", "#", class: "memo-btn" %>
    <%= link_to "📒 メモ", "#", class: "memo-btn" %>
  </div>
</div>